

	<div>
		<h2>Bug Details</h2>
  </div>
	<br>

		<div class="container">
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label class="control-label col-sm-3  col-md-offset-4" for="Name">Name<span>*</span></label>
						<div class="col-sm-9">
              <input [(ngModel)]='bug.name' placeholder='Name'>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3  col-md-offset-4" for="pwd">Priority</label>
						<div class="col-sm-9">
							<select [(ngModel)]='bug.priority' placeholder='Priority' >
								<option value="LOW">LOW</option>
								<option value="MEDIUM">MEDIUM</option>
								<option value="HIGH">HIGH</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3  col-md-offset-4 " for="pwd">Type</label>
						<div class="col-sm-9">
              <select [(ngModel)]='bug.type' placeholder='Type' >
								<option value="UNITLEVEL">UNIT-LEVEL</option>
								<option value="SYSTEMLEVEL">SYSTEM-LEVEL</option>
								<option value="OUTOFBOUND">OUT OF BOUND</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3  col-md-offset-4 " for="pwd">ETA
							Date<span>*</span>
						</label>
						<div class="col-sm-9">
							<input type='date' [(ngModel)] = 'bug.etaDate'  >
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3 col-md-offset-4" for="pwd">Module<span>*</span></label>
						<div class="col-sm-9">
							<input [(ngModel)]='bug.module' placeholder='Module'>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3 col-md-offset-4" for="pwd">Version</label>
						<div class="col-sm-9">
							<input [(ngModel)]='bug.buildVersion' placeholder='Build Version'>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3 col-md-offset-4" for="pwd">Description<span>*</span></label>
						<div class="col-sm-9">
              <textarea [(ngModel)]='bug.description' placeholder='Description'></textarea>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label class="control-label col-sm-3 col-md-offset-2" for="pwd">Severity</label>
						<div class="col-sm-9">
              <select [(ngModel)]='bug.severity' placeholder='Severity' >
								<option value="LOW">LOW</option>
								<option value="MEDIUM">MEDIUM</option>
								<option value="HIGH">HIGH</option>
							</select>
						</div>
          </div>
					<div class="form-group">
						<label class="control-label col-sm-3 col-md-offset-2" for="pwd">Project
							Id<span>*</span>
						</label>
						<div class="col-sm-9">
							<input [(ngModel)]='bug.projectId' placeholder='Project Id'>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3 col-md-offset-2" for="pwd">Tester
							Id<span>*</span>
						</label>
						<div class="col-sm-9">
							<input [(ngModel)]='bug.testerId' placeholder='Tester Id' >
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3 col-md-offset-2" for="pwd">Synopsis<span>*</span></label>
						<div class="col-sm-9">
							<textarea [(ngModel)]='bug.synopsis' placeholder='Synopsis'></textarea>
						</div>
          </div>
					<div class="form-group">
						<label class="control-label col-sm-3 col-md-offset-2" for="pwd">Product<span>*</span></label>
						<div class="col-sm-9">
              <input [(ngModel)]='bug.product' placeholder='Product'>
						</div>
					</div>
				</div>
			</div>
		</div>

	<button (click)="save()" type="Submit"
		class="btn btn-primary btn-lg btn-block submitBtn">Submit</button>

	<div>
	</div>

